body{
    margin:0;
    padding:0;
}
body,html{
    height:100%;
}
.sence-box{
    width:100%;
    background: url(../img/bg.png) no-repeat center center;
    background-size:cover ;
    position: absolute;
    z-index: 8;
    height:100%;
    overflow: hidden;
}
.sence-box .select{
    width: 46%;
    margin: 8% auto 0;
}
.sence-box .select img{
    width:46%;
    margin-left:28%;
    cursor: pointer;
}
.win-box{
    width:100%;
    height:100%;
    position: absolute;
    z-index: 20;
    display: none;
}
.win-box .win-bg{
    width:100%;
    height:100%;
    background: #000;
    opacity: 0.5;
    position: absolute;
}
.win-box .win{
    width:40%;
    position: absolute;
    margin: auto;
    top:0%;
    bottom:0;
    left:0;
    right:0;
}
.win-box .win .score .num{
    font-size: 50px;
}
.win-box .win .score{
    width:100%;
    position: relative;
    margin-top: 15%;
    font-size: 50px;
}
.win-box .win .score img{
    width:100%;
}
.win-box .win .score .num{
    position: absolute;
    margin:auto;
    text-align: center;
    margin-top: 35%;
    left:0;
    right:0;
    top:0;
}
.win-box .win .btn-group{
    height: 100px;
}
.win-box .win .btn-group div{
    float:left;
    text-align:center;
    width: 50%;
    height:100px;
}
.win-box .win .btn-group div img{
    height:100%;
}
.game-box{
    width:100%;
    height:100%;
    background: #fff;
    position: absolute;
    /*z-index:100;*/
}
.game-box .score-box .score-s{
    font-size:30px;
    color: blue;
}
#sence{
    height:601px;
    width:601px;
    background: #888;
    margin:30px auto;
}
#sence div{
    height: 29px;
    width:29px;
    background: #fff;
    float: left;
    margin-top:1px;
    margin-left:1px;
}
#sence2 {
    height: 601px;
    width: 601px;
    margin: 30px auto;
    position: absolute;
    left:0;
    right:0;
    top:30px;
    margin:0 auto;
}
#sence2 .block{
    width:29px;
    height:29px;
    border-radius: 50%;
    float: left;
    margin:1px 0 0 1px;
}
#sence2 .s1{
    background: black;
    background-size: cover;
    transform: scale(1.2,1.2);
    box-shadow: 0 0 5px #888;
}
#sence2 .s2{
    background: #5cb85c;
    background-size: cover;
    transform: scale(1.2,1.2);
    box-shadow: 0 0 5px #888;
}
#sence2 .sh{
    transform: scale(1.2,1.2);
    box-shadow: 0 0 5px #444;
    background: url("../img/lvjuren.png");
    background-size: cover;
}
#sence2 .f{
    background: red;
    transform: scale(1.2,1.2);
    box-shadow: 0 0 5px #888;
}
.score-box{
    height: 30px;
    position: absolute;
    top:5px;
    left:5px;
}
.score-box span{
    padding:0 5px;
}